<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">Datos del grupo a editar:</div>
        <div class="panel-body">
            <form class="formEdicionGrupo" name="editarGrupoForm" novalidate>
                <div class="row" style="width: 50%;">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error': editarGrupoForm.nombre.$touched && editarGrupoForm.nombre.$invalid }">
                            <label for="nombre">Nombre</label>
                            <input name="nombre" type="text" class="form-control" ng-model="editarGrupo.datoGrupo.nombrePlantilla" maxlength='50'
                                required/>
                                <p class="help-block" ng-if="editarGrupoForm.nombre.$touched && editarGrupoForm.nombre.$invalid">El nombre de la plantilla es requerido.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="panel panel-primary">
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Seleccione una modalidad:</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="modalidad">Editar modalidades</label>
                                            <select class="form-control" ng-options='item as (item.codigoModalidad + " -- " + item.nombreLargo) for item in editarGrupo.modalidades'
                                                ng-model="editarGrupo.nuevaPlantilla.idTipoModalidad" ng-change="">
                                                </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editarGrupo.agregarModalidad()">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-heading">Editar modalidades:
                            <span ng-click="editarGrupo.eliminarSeleccion(editarGrupo.tData_edicion, editarGrupo.variables.tabla_modalidades)" class="glyphicon glyphicon-trash btn botonEliminar"
                                data-placement="top" title="Eliminar modalidades seleccionadas" onmouseover="$(this).tooltip('show')"
                                onmouseleave="$(this).tooltip('hide')"></span>
                                <span ng-click="editarGrupo.alerts()" data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-plus btn botonEliminar"
                                    data-placement="top" title="Agregar modalidades" onmouseenter="$(this).tooltip('show')" onmouseleave="$(this).tooltip('hide')"></span>
                        </div>
                        <table class="table table-fixed">
                            <thead>
                                <tr>
                                    <th class="col-sm-2">Eliminar
                                        <span><input type="checkbox" aria-label="checkbox" ng-change="editarGrupo.checkAll(editarGrupo.tData_edicion,editarGrupo.checkAllFlag)" ng-model="editarGrupo.checkAllFlag" ng-true-value="true" ng-false-value="false"></span>
                                    </th>
                                    <th class="col-sm-2" ng-repeat="col in editarGrupo.tableColumnsModalidad.modalidades" ng-click="editarGrupo.doSort(col.property, col.subProperty)">{{col.label}}
										<span ng-show="!editarGrupo.reverse && col.property && ((!col.subProperty && editarGrupo.sortBy == col.property)
                                    ||(col.subProperty && editarGrupo.sortBy.split('.')[0] == col.property && editarGrupo.sortBy.split('.')[1] == col.subProperty))" class="glyphicon glyphicon-chevron-up orderIcon"></span>
                                    <span ng-show="editarGrupo.reverse && col.property && ((!col.subProperty && editarGrupo.sortBy == col.property)
                                    ||(col.subProperty && editarGrupo.sortBy.split('.')[0] == col.property && editarGrupo.sortBy.split('.')[1] == col.subProperty))" class="glyphicon glyphicon-chevron-down orderIcon"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="!editarGrupo.tData_edicion || !editarGrupo.tData_edicion.length"><td colspan="8" class="text-center">No hay datos</td></tr>
                                <tr ng-repeat="data in editarGrupo.tData_edicion | filterPlantillas | orderBy:editarGrupo.sortBy:editarGrupo.reverse" ng-click="editarGrupo.insertIdModalidad(data)"
                                    ng-class="{'selected':data.idTipoModalidad == editarGrupo.selectedMod.idTipoModalidad}">
                                    <td title="Eliminar">
                                        <span><input type="checkbox" aria-label="checkbox" ng-model="data.selected"></span>
                                    </td>
                                    <td ng-repeat="param in editarGrupo.tableColumnsModalidad.modalidades">
                                        {{data[param.property]}}
                                    </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="myModalineas" tabindex="-1" role="dialog" aria-labelledby="myModalLinea">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLinea">Selección de líneas:</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="modalidad">Líneas</label>
                                        <select class="form-control" ng-options='item as (item.codigoLinea + " -- " + item.nombreLargo) for item in editarGrupo.tLineaRelacionModa'
                                            ng-model="editarGrupo.nuevaPlantilla.idTipoLinea">
                                            </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="editarGrupo.agregarLinea()">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Líneas de la modalidad <span ng-show="editarGrupo.selectedMod"> "{{editarGrupo.selectedMod.nombreLargo}}"</span>
                            <span ng-disabled="!editarGrupo.selectedMod" ng-click="editarGrupo.eliminarSeleccion(editarGrupo.selectedMod.lineas, editarGrupo.variables.tabla_lineas)" class="glyphicon glyphicon-trash btn botonEliminar"
                                data-placement="top" title="Eliminar líneas seleccionadas" onmouseover="$(this).tooltip('show')"
                                onmouseleave="$(this).tooltip('hide')"></span>
                                <span ng-disabled="!editarGrupo.selectedMod" data-toggle="modal" data-target="#myModalineas" class="glyphicon glyphicon-plus btn botonEliminar"
                                    data-placement="top" title="Agregar líneas " onmouseenter="$(this).tooltip('show')" onmouseleave="$(this).tooltip('hide')"></span>
                        </div>
                        <table class="table table-striped table-fixed">
                            <thead>
                                <tr>
                                    <th class="col-sm-2">Eliminar
                                        <span><input type="checkbox" aria-label="checkbox" ng-change="editarGrupo.checkAll(editarGrupo.selectedMod.lineas, editarGrupo.checkAllFlagLineas)" ng-model="editarGrupo.checkAllFlagLineas" ng-true-value="true" ng-false-value="false"></span>
                                    </th>
                                    <th class="col-sm-2" ng-repeat="col in editarGrupo.tableColumns.lineas" ng-click="editarGrupo.doSortLin(col.property, col.subProperty)">{{col.label}}
										<span ng-show="!editarGrupo.reverseLin && col.property && ((!col.subProperty && editarGrupo.sortByLin == col.property)
                                    ||(col.subProperty && editarGrupo.sortByLin.split('.')[0] == col.property && editarGrupo.sortByLin.split('.')[1] == col.subProperty))" class="glyphicon glyphicon-chevron-up orderIcon"></span>
                                    <span ng-show="editarGrupo.reverseLin && col.property && ((!col.subProperty && editarGrupo.sortByLin == col.property)
                                    ||(col.subProperty && editarGrupo.sortByLin.split('.')[0] == col.property && editarGrupo.sortByLin.split('.')[1] == col.subProperty))" class="glyphicon glyphicon-chevron-down orderIcon"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="!editarGrupo.selectedMod.lineas || !editarGrupo.selectedMod.lineas.length"><td colspan="8" class="text-center">No hay datos/Seleccione una modalidad</td></tr>
                                <tr ng-repeat="data in editarGrupo.selectedMod.lineas | filterPlantillas | orderBy:editarGrupo.sortByLin:editarGrupo.reverseLin">
                                    <td title="Eliminar">
                                        <span><input type="checkbox" aria-label="checkbox" ng-model="data.selected"></span>
                                    </td>
                                    <td ng-repeat="param in editarGrupo.tableColumns.lineas">
                                        {{data[param.property]}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <button class="btn btn-primary" ng-click="editarGrupo.irsalir()">Atrás</button>
                <button class="btn btn-primary" ng-click="editarGrupo.guardarDB()">Guardar</button>
            </form>
        </div>
    </div>
</div>